*swo
learner*.lsf
server*.lsf
*swn
*swp
*save*
*pyc
*.log
*pys
*.o
*.e
blog_data_dist.txt
SampleResults
MultiRs*
logs/
openImg_size.txt
openImgFull_size.txt
pymp*
learn*.lsf
server*.lsf
vms
jobinfo
quotas
./evals/scripts/*
./data/*
./scripts/logs/*
data/
.DS_Store
*.egg-info
*logging
