*swo
*swn
*swp
*save*
*pyc
*.log
*pys
*.o
*.e
dist
logs/
pymp*
./benchmark/dataset/data/*
.DS_Store
*.egg-info
*logging
open_images
speech  
amazon_review 
charades 
europarl
go  
inaturalist  
libriTTS  
open_images_detection  
reddit  
taobao  
taxi  
waymo  
femnist  
blog  
stackoverflow  
common_voice  
puffer  
landmark  
coqa